*
!.gitignore
!/alacritty/
!/alacritty/**
!/nvim/
!/nvim/**
!.bashrc
!/tmux/
!/tmux/**
!tmuxs
!init.org
!init.el
!/qtile/
!/qtile/**
!/i3/
!/i3/**
!/polybar/
!/polybar/**
!/hypr
!/hypr/**
!/eww
!/eww/**
!/rofi
!/rofi/**
